/* 	Step 8 in DOM Drills */
#title {
	color: black;
	font-family: rockwell;
}

h1 {
	color:red;
}

h2 {
	color:orange;
}

h3 {
	color:brown;
}

h4 {
	color:green;
}

h5 {
	color:blue;
}

h6 {
	color:purple;
}